# Arquivos de ambiente
.env
.env.local
.env.*.local
.env.postgres

# Ignora os arquivos de ambiente dos subdiretórios para garantir segurança adicional
*/**/.env
*/**/.env.local
*/**/.env.*.local

# Excluir os arquivos de exemplo
!.env.example
!*/**/.env.example*.env.*
*.env.* >> .gitignore.env.example
backend/prisma/node_modules/
